@import '../../styles/_foundations.scss';
.Sponsor {
  display: inline-block;
  margin: 0 0 spacing(2,2) 0;
  width: 100%;
  .Sponsor__image {
    width: spacing(2,15);
    height: spacing(2,15);
    border-radius: spacing(2,10);
    font-size: 0;
    img {
      width: spacing(2,15);
      height: spacing(2,15);
      object-fit: cover;
    }

  }
  @media only screen and (max-width: breakpoint(mobileHD)) {
    width: auto;
    text-align: center;
    .Sponsor__image {
      width: spacing(2,10);
      height: spacing(2,10);
      border-radius: spacing(2,4);
      padding-top: spacing(2);
      img {
        width: spacing(2,8);
        height: spacing(2,8);
        object-fit: cover;
        vertical-align: bottom;
      }
    }
  }
}
.Sponsor-container {
  margin: 0 0 spacing(2,10) 0;
  display: inline-block;
  width: 100%;
}

.Sponsor-container.--visible .Sponsor {
  .Sponsor__image {
  }
}
