@import '../../../styles/_foundations.scss';
.TextArea {
  label {
    display: block;
    font-size: font-size(xs);
    line-height: 1;
    opacity: .75;
    padding: 0;
    margin: 0;
  }
  textarea {
    border: 0;
    border: 2px solid color(black);
    display: block;
    width: 100%;
    font-family: font-family(display);
    font-size: font-size(s);
    padding: spacing(2,2);
    margin-top: spacing(2);

    transition: transition();
    &:focus {
      border-bottom: 2px solid color(black);
      outline: 0;
      background-color: color(white);
    }
  }
  margin-bottom: spacing(4,3);
}
