@import 'styles/_foundations.scss';
.TicketQueueItem {
  display: flex;
  border-bottom: 2px solid color(white);
  padding-top: spacing(2);
  .TicketQueueItem__Id {
    width: 100%;
    font-size: font-size(s);
    line-height: line-height(s);
    padding-top: spacing(2);
    strong {
      font-weight: 700;
      
    }
  }
  .TicketQueueItem__Actions {
    opacity: 0;
    text-align: right;
  }
  &:hover {
    .TicketQueueItem__Actions {
      opacity: 1;
    }
  }
}
