@import '../../styles/_foundations.scss';
.FeatureFlags {
  padding-bottom: spacing(2,10);
  width: 100%;
  .FeatureFlag {
    padding: spacing(2,4) 0;
    border-top: 2px solid color(white);
  }
  @media only screen and (max-width: breakpoint(mobileHD)) {
    .FeatureFlag {
    font-size: font-size(s);
    padding: spacing(2,2) 0;
    border-top: 1px solid color(black, medium);
    }
  }
}
