@import '../../styles/_foundations.scss';
.Nav {
  position: fixed;
  top: spacing(2,12);
  right: 0;
  z-index: 120;

  &.--backoffice {
    .Nav__container {
      .Nav__back-office{

        background-color: color(white);
        color: color(black);
        a {
          color: color(black);
        }

      }
    }
  }
  .Nav__container {
    display: flex;
    .Nav__main{
      padding: 0 spacing(6);
      background-color: color(black);
      color: color(white);
      height: spacing(2,10);
      border-radius: spacing(2,5);
      margin-right: spacing(4,4);


      span {
        display: inline-block;
        margin: 0 spacing(2);

      }
      .Nav__HomeLink {
        display: none;
          img {
            position: relative;
            top: 2px;
          }

          @media only screen and (max-width: breakpoint(tabletSD)) {
            display: inline-block;
          }

      }
    }
    .Nav__back-office{
      padding: 0 0 0 spacing(4);
      background-color: color(black);
      color: color(white);
      height: spacing(2,10);
      border-radius: spacing(2,5) 0 0 spacing(2,5);
      transition: transition();

    }

  }

  a {
    color: color(white);
    text-decoration: none;
    line-height: spacing(2,10.5);
    padding: 0 spacing(4);
    transition: transition();


  }
  .--active {
    color: color(yellow);
  }

  @media only screen and (max-width: breakpoint(tabletHD)) {
    top: spacing(2,6);
  }
  @media only screen and (max-width: breakpoint(mobileHD)) {
    top: 0;
    width: 100vw;
    left: 0;
    background-color: color(black);
    .Nav__container{
      width: 100vw;
      display: block;
      text-align: right;
      .Nav__main {
          display: inline-block;
          height: spacing(2,7);
          padding: 0 spacing(2);
          margin-right: 0;
          span {

              margin: 0 spacing(1);
              height: spacing(2,7);
              line-height: spacing(2,7);
          }

      }
      .Nav__back-office{
        display: inline-block;
        padding: 0 spacing(4) 0 spacing(4);
        height: spacing(2,7);
        border-radius: spacing(2,5) 0 0 spacing(2,5);


      }
    }
    a {

        line-height: spacing(2,7);
        padding: 0 spacing(2);
        font-size: font-size(s);

    }

  }

}

.Nav-debug{
  position: fixed;
  top: spacing(2,36);
  right: 0;
  z-index: 120;
  &.--backoffice {
    .Nav__container {
      .Nav__back-office{

        background-color: color(white);
        color: color(black);
        a {
          color: color(black);
        }

      }
    }
  }
  .Nav__container {
    display: flex;
    .Nav__main{
      padding: 0 spacing(6);
      background-color: color(black);
      color: color(white);
      height: spacing(2,10);
      border-radius: spacing(2,5);
      margin-right: spacing(4,4);
      span {
        display: inline-block;
        margin: 0 spacing(2);
      }
    }
    .Nav__back-office{
      padding: 0 0 0 spacing(4);
      background-color: color(black);
      color: color(white);
      height: spacing(2,10);
      border-radius: spacing(2,5) 0 0 spacing(2,5);
      transition: transition();
    }

  }

  a {
    color: color(white);
    text-decoration: none;
    line-height: spacing(2,10.5);
    padding: 0 spacing(4);
    transition: transition();

  }
  .--active {
    opacity: .3;
  }
}
