@import 'styles/_foundations.scss';
.Footer {
  display: flex;
  padding: spacing(2, 5) 0;
  border-top: 2px solid color(black);
  margin: 0 spacing(2,20);
  .Footer__text {
    width: 100%;
  }
  .Footer__contact {
    text-align: right;
  }
  &.--backoffice {
    color: color(white);
    border-top: 2px solid color(white);
  }
}
