@import '../_foundations.scss';
.back-office {
  background-color: color(black);
  color: color(white);
  a {
    color: color(red);
  }
  .back-office__Layout {
    display: flex;
    min-height: 100vh;
    .back-office__Layout__Nav {
      width: spacing(2,50);

    }
    .back-office__Layout__Content {
      border-left: 2px solid color(white);
      padding-left: spacing(2,10);
      padding-bottom: spacing(2,10);
    }
  }
}
