@import '../../styles/_foundations.scss';
.Debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 350;
  width: 100%;
  height: 154px;
  background-color: color(black);
  color: color(white);
  padding: spacing(4);
  font-size: font-size(s);
  line-height: line-height(s);
  .Debug__container {
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
    padding-left: spacing(4,4);
    .Debug__container__badge {
      position: fixed;
      z-index: 20;
      left: -40px;
      top: 40px;
      transform: rotate(-90deg);
      transform-origin: center;
      span{
        display: inline-block;
        position: relative;
        background-color: color(orange);
        color: color(black);
        width: 120px;
        padding: spacing(4);
        text-align: center;
        border-radius: 0 0 spacing(4,2) spacing(4,2) ;
        font-size: font-size(s);
        text-transform: uppercase;

      }
    }
  }
}