@import 'styles/_foundations.scss';
.BackOfficeNav {

  a {
    color: color(white);
    text-decoration: none;
    line-height: spacing(2,10.5);
    padding: 0 spacing(4);
    transition: transition();

  }
  .--active, .--default {
    color: color(yellow);
  }
}
